<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body >
   <div style="display: grid;place-items: center;padding: 5px;">
    <div style="background-color:black;
    height: 70vh;color: white;width: auto;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif; padding: 30px; border-radius: 5px;">
        <div>
            <h2  style="text-align: center; color: #ffab00;">Welcome to Winster trade investment</h2>
        </div>
        <div style="text-align: center;">
            <p>
                Dear user you have successfuly registered with Winster trade investment please click the link bellow to complete your registration
            </p>
        </div>
        <div style="margin-top: 50px; display: flex; justify-content: center;" >
         <a style="text-decoration: none;" href="www.winstertradeinvestment.com/login">
            <button style="width: 200px;height: 70px;background-color: rgba(0,0,0,0); color: #ffab00;
            font-size: 20px; border: 3px solid #ffab00;border-radius: 10px;">
                Confirm
            </button>
         </a>
        </div>
    </div>
   </div>
</body>
</html>